functions/.env
.env
service-account.json
**/service-account.json
node_modules/
functions/node_modules/
dist/
out/
release/
build/
.firebase/
.runtimeconfig.json
firebase-debug.log
firestore-debug.log
ui-debug.log
*.log
*.exe
*.blockmap
*.nsis.7z
*.zip
*.7z
